<kendo-grid [kendoGridBinding]="gridView"
            kendoGridSelectBy="name"
            [(selectedKeys)]="mySelection"
            [pageSize]="20"
            [pageable]="false"
            [sortable]="true"
            [groupable]="false"
            [reorderable]="true"
            [resizable]="true"
            [height]="500"
            [columnMenu]="{ filter: true }">
    <kendo-grid-column field="name" 
                       title="Name"
                       [width]="100"
                       [class]="{ 'text-center': true }">
    </kendo-grid-column>
    <kendo-grid-column field="age"
                       title="Age"
                       [width]="100"
                       [class]="{ 'text-center': true }"
                       [resizable]="false">
    </kendo-grid-column>
    <kendo-grid-column field="hobies"
                       title="Hobies"
                       [width]="220"
                       [class]="{ 'text-center': true }"
                       [resizable]="false"
                       filter="boolean">
    </kendo-grid-column>
</kendo-grid>
